<div
  cdkDropList
  class="droplist"
  [id]="item.id"
  [cdkDropListData]="items"
  custom-drag-drop
  (cdkDropListDropped)="dropped($event)"
>
  <ng-container *ngFor="let _item of items">
    <text-item
      [text]="_item.id"
      *ngIf="_item.type === 'Item'; else container"
      cdkDrag
      class="drag-item"
    ></text-item>
    <ng-template #container>
      Container {{ _item.id }}
      <drag-container [item]="_item"></drag-container>
    </ng-template>
  </ng-container>
</div>
<button (click)="addItem()">Add Item</button>
<button (click)="addContainer()">Add Container</button>
